@import '../../../bower_components/brick-common/styles/themes/default/params'
$brand-blue = #00CAF2

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes translateIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


:host {
  opacity: 0;


  &([show="in"]) {

    opacity:1;
    -moz-animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    animation: fadeIn 0.3s;

    & > .dialog {

      opacity: 1;
      -moz-animation: translateIn 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -webkit-animation: translateIn 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
      animation: translateIn 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275);

    }
  }

  &([show="out"]) {

    opacity: 1;
    -moz-animation: fadeOut 0.3s;
    -webkit-animation: fadeOut 0.3s;
    animation: fadeOut 0.3s;
  }


  & > .dialog {
    background: $color-iota;
  }

  ::content {
    header {
      text-align: center;
      padding: $dim-small;
      h1, h2, h3, h4, h5, h6 {
        font-weight: lighter;
        font-style: italic;
        color: $color-gamma;
      }
      h1 {
        font-size: 1.5em;
        line-height: 26px;
        margin: 6px 0px 24px;
      }
    }
    section {
      padding: $dim-small;
      &[center] {
        text-align: center;
      }
    }
    footer button, footer brick-button {
      cursor: pointer;
      background: $color-beta;
      text-align: center;
      font-style: italic;
      font-weight: lighter;
      height: 50px;
      margin: 0px;
      border: 0px none;
      padding: 0rem 25px;
      color: $brand-blue;
      font-size: inherit;
      width: 100%;
      outline: none;

      &:active {
          background-color: $brand-blue;
          color: #fff;
          transition: none;
      }
    }

    // divisor horizontal
    footer > * {
      &:after {
        content: " ";
        position: absolute;
        height: 60%;
        width: 1px;
        top: 20%;
        right: 0px;
        background: none repeat scroll 0% 0% #E7E7E7;
        z-index: 1;
      }
      &:active:after {
          z-index: -1;
      }

      &:last-child:after {
          display: none;
      }
    }

    // divisor vertical
    footer[vertical] > *:after {
        position: absolute;
        width: 95%;
        height: 1px;
        bottom: 0px;
        left: 2.5%;
        top: 49px;
        background: #e7e7e7;
    }
  }

}
