@import '../bower_components/brick-common/styles/mixins'
@import '../bower_components/brick-common/styles/params'

$xs = {                end:  768px, name: xs }
$s  = { start:  768px, end:  992px, name: s  }
$m  = { start:  992px, end: 1200px, name: m  }
$l  = { start: 1200px,              name: l  }

/**
 * notice the () around teh attribute. that is because of
 * :host([attr]) syntax to style the host node.
 *
 * example:
 *  &([horizontal-lt-s/m/l]) { mixin() }
 *  &([horizontal-gt-xs/s/m]) { mixin() }
 *  &([horizontal-xs/s/m/l]) { mixin() }
 *  &([horizontal]) { mixin() }
 * would be created by:
 * responsifyHost("& > ", horizontal, mixin)
 */
responsifyHost(selector, attr, content) {
  // attr-lt-[s,m,l]
  for $range in $s $m $l {
    {selector}([{attr}-lt-{$range.name}]) {
      @media (max-width: $range.start) {
        content();
      }
    }
  }
  // attr-gt-[xs,s,m]
  for $range in $xs $s $m {
    {selector}([{attr}-gt-{$range.name}]) {
      @media (min-width: $range.end) {
        content();
      }
    }
  }
  // attr-[xs,s,m,l]
  for $range in $s $m {
    {selector}([{attr}-{$range.name}]) {
      @media (max-width: $range.start) and (min-width: $range.end) {
        content();
      }
    }
  }
  // attr
  {selector}([{attr}]) {
    content();
  }
}

:host {
  display: none;
  background: none repeat scroll 0% 0% rgba(199, 199, 199, 0.85);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 200;

  &([show]) {
    display: flex;
  }

  & > .dialog {
    max-height: 75%;
    max-width: 350px;
    width: 90%;
    margin: auto;
  }

  ::content {
    footer {
      display: flex;
    }
    footer > * {
      flex-grow: 1;
      align-items: flex-start;
      position: relative;
    }

    footer[vertical] {
      flex-direction: column;
    }
    footer[vertical] > * {
        position: relative;
    }

  }
}
